<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.club.mapper.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.coderman.club.model.user.UserModel">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mp_open_id" jdbcType="VARCHAR" property="mpOpenId" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_code, nickname, email, username, password, mp_open_id, salt, user_status, 
    create_time, update_time
  </sql>

  <insert id="insertSelectiveReturnKey"  useGeneratedKeys="true" keyProperty="userId">
    insert into club_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="mpOpenId != null">
        mp_open_id,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mpOpenId != null">
        #{mpOpenId,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from club_user
    where username = #{username}
  </select>

  <select id="selectByEmail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from club_user
    where email = #{email}
  </select>

  <select id="selectByMpOpenId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from club_user
    where mp_open_id = #{mpOpenId}
  </select>
</mapper>