<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.club.mapper.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.coderman.club.model.user.UserModel">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mp_open_id" jdbcType="VARCHAR" property="mpOpenId" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_code, nickname, email, username, password, mp_open_id, salt, user_status, 
    create_time, update_time
  </sql>


  <select id="selectByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from club_user
    where username = #{username}
  </select>

  <select id="getUserInfoByIdList" resultType="com.coderman.club.vo.user.UserInfoVO">
    select
    t1.user_id, t1.user_code, t1.nickname,t2.avatar
    from club_user t1
    left join club_user_info t2 on t1.user_id = t2.user_id
    where t1.user_id in
    <foreach collection="idList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>


</mapper>