<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.club.mapper.notification.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.coderman.club.model.notification.NotificationModel">
    <id column="notification_id" jdbcType="BIGINT" property="notificationId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sender_id" jdbcType="BIGINT" property="senderId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="is_read" jdbcType="BIT" property="isRead" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="read_time" jdbcType="TIMESTAMP" property="readTime" />
  </resultMap>
  <sql id="Base_Column_List">
    notification_id, user_id, sender_id, type, content, relation_id, is_read, create_time, 
    read_time
  </sql>

  <select id="getUnReadCount" resultType="com.coderman.club.vo.notification.NotificationCountVO">
    SELECT
      COUNT(1) AS totalCount,
      COUNT( CASE WHEN `type` = 'following_user' THEN 1
                            WHEN `type` = 'register_welcome' THEN 1
                            WHEN `type` = 'collect_post' THEN 1
                            WHEN `type` = 'register_init_pwd' THEN 1
                             END ) AS sysCount,
      COUNT( CASE WHEN `type` = 'like_post' THEN 1 END ) AS zanCount,

      COUNT( CASE WHEN `type` = 'reply' THEN 1
                              WHEN `type` = 'comment' THEN 1
                              WHEN `type` = 'reply_at' THEN 1
                              END ) AS replyCount
    FROM
      club_notification
    WHERE
      user_id = #{userId} and is_read = 0
  </select>
  <select id="getPage" resultType="com.coderman.club.vo.notification.NotificationCommentVO">
    SELECT
	cn.notification_id,
	cn.user_id,
	cn.sender_id,
	cn.relation_id,
	cn.type,
	cn.is_read,
	cn.create_time
    FROM
        club_notification cn
    WHERE
        cn.user_id = #{userId}
        AND cn.type IN ( 'reply', 'comment' )
    ORDER BY
	cn.create_time DESC
  </select>

  <update id="updateReadStatus">
    update club_notification
    set is_read = #{isRead}
    <if test="isRead!=null and isRead==1">
      , read_time =  now()
    </if>
    where notification_id = #{notificationId} and user_id = #{userId}
  </update>

</mapper>