<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.club.mapper.post.PostTagMapper">
  <resultMap id="BaseResultMap" type="com.coderman.club.model.post.PostTagModel">
    <id column="post_tag_id" jdbcType="BIGINT" property="postTagId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
  </resultMap>
  <sql id="Base_Column_List">
    post_tag_id, post_id, tag_name
  </sql>
  <insert id="insertBatch">
    insert into club_post_tag (post_id, tag_name)
    values
    <foreach collection="tagList" item="item" index="index" separator=",">
      (
      #{postId},#{item}
      )
    </foreach>
  </insert>
</mapper>